html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Rubik", sans-serif;
}

nav{
	background: #12151e;
}

nav a{	
	text-transform: uppercase;
	font-size: 25px;
	letter-spacing: 7px;
	text-decoration: none;
	color: white;
	line-height: 25px;
}

nav a:hover{
	color: #1cc6ff;
	text-decoration: none;
	text-shadow: 0px 0px 10px #1cc6ff;
}
nav form{
	margin-left: auto;
}

nav button{
    background: none;
    text-align: center;
    font-size: 20px;
    border: 2px solid #0494c4;
    padding: 8px 20px;
    outline: none;
    color: white;
    border-radius: 15px;
    transition: 0.25s;
    cursor: pointer;
}
nav button[id="admin"]:hover {
    background: #0494c4;
    box-shadow: 0px 0px 20px 5px #0494c4;
}
nav button[id="logout"]:hover {
    background: #0494c4;
    box-shadow: 0px 0px 20px 5px #0494c4;
}

.welcome{
	background-image: url('https://cdn.glitch.global/251eaab2-0774-4ff0-87c3-3c070c84ea40/index_wel_bg.jpg?v=1651932950377');
	background-size: 100% 300px;
	background-repeat: no-repeat;
	background-position: center;
	height: 300px;
	/*position: relative;*/

}

.message{
	width: 80%;
	text-align: center;	
	color: white;	
	/*position: absolute;*/

}

.message h1{
	font-size: 60px;
	text-transform: uppercase;
	letter-spacing: 12px;
	margin-top: -120px;
	font-weight: bold;
	text-shadow: 0px 0px 15px blue;
}

.message h2{
	font-size: 50px;
	text-transform: uppercase;
	letter-spacing: 12px;
	position: absolute;
	margin-top: 50px;
	font-weight: bold;
	text-shadow: 0px 0px 15px blue;
}

/*#room1_auto_refresh{
	color: white;
	height: 500px;
	width: 400px;
	border: 2px red solid;
	background-color: #12151e;
}*/
